box()
	display -webkit-box
	-webkit-box-align center
	-webkit-box-pack center

	display -moz-box
	-moz-box-align center
	-moz-box-pack center

	display -ms-box
	-ms-box-align center
	-ms-box-pack center

	display -o-box
	-o-box-align center
	-o-box-pack center

	display box
	box-align center
	box-pack center

* 
	margin 0
	padding 0


html, body
	height 100%

body
	background black
	box()

#micanvas
	background url(../images/fondo.jpg) left top no-repeat